
/* shared css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn{
    background-color: #469165;
    padding: 13px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.text-center{
    text-align: center;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading{
    padding-top: 35px;
}
.section-heading h2{
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #001931;
}
.section-heading p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    color: #627382;
}



/* main css */
nav{
   width: 91%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
nav .logo img{
    width: 140px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}


#banner{
    width: 100%;
    /* background-color: aqua; */
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    /* border: 1px solid red; */
    width: 48%;
    max-width: 1360px;
    padding: 116px 0px 180px 0px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.banner-content .early span{
    display: inline-flex;          /* important */
    align-items: center;           /* vertical center */
    gap: 8px;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    
}

.banner-content .early{
    margin-bottom: 16px;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner-content h1 span{
    color: #30B868;
}

.banner-content .banner-info{
    width: 74%;
    margin: 0 auto;
    font-size: 18px;
    line-height:32px;
    /* font-weight: 400; */
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-content .banner-btn .btn{
    padding: 16.5px 16px;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 16px;
    /* background-color: aqua; */
}

.banner-content .banner-btn .btn:nth-child(2){
    background-color: transparent;
    border: 1px solid #ffffff;
}

.banner-content .banner-btn .btn .margin-left{
    margin-left: 8px;
}

.banner-content .banner-btn .btn .margin-right{
    margin-right: 8px;
}



#note{
    background-color: rgb(251, 251, 251);
}
#note .note-content{
    /* background-color: aqua; */
    width: 91%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* display: flex; */
}

#note .note-content .note-box{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    text-align: center;
}

.note-box .note-card{
    padding: 70px 24px 24px 24px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 8px 20px #00000011;
    

}

.note-card .note-img{
    width: 45px;
    height: 45px;
    background-color: rgb(249, 85, 85);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}
.note-card .note-img img{
    width: 25px;
    height: 25px;
    object-fit: contain  
}

.note-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
