
/* shared css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn{
    background-color: #469165;
    padding: 13px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.text-center{
    text-align: center;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading{
    padding-top: 35px;
}
.section-heading h2{
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
}
.section-heading p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    color: #627382;
}



/* main css */
nav{
   width: 91%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
nav .logo img{
    width: 140px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}


#banner{
    width: 100%;
    /* background-color: aqua; */
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    /* border: 1px solid red; */
    width: 48%;
    max-width: 1360px;
    padding: 116px 0px 180px 0px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.banner-content .early span{
    display: inline-flex;          /* important */
    align-items: center;           /* vertical center */
    gap: 8px;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    
}

.banner-content .early{
    margin-bottom: 16px;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.banner-content h1 span{
    color: #30B868;
}

.banner-content .banner-info{
    width: 74%;
    margin: 0 auto;
    font-size: 18px;
    line-height:32px;
    /* font-weight: 400; */
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-content .banner-btn .btn{
    padding: 16.5px 16px;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 16px;
    /* background-color: aqua; */
}

.banner-content .banner-btn .btn:nth-child(2){
    background-color: transparent;
    border: 1px solid #ffffff;
}

.banner-content .banner-btn .btn .margin-left{
    margin-left: 8px;
}

.banner-content .banner-btn .btn .margin-right{
    margin-right: 8px;
}



#note{
    background-color: rgb(251, 251, 251);
}
#note .note-content{
    /* background-color: aqua; */
    width: 91%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* display: flex; */
}

#note .note-content .note-box{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    text-align: center;
}

.note-box .note-card{
    padding: 70px 24px 24px 24px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 8px 20px #00000011;
    

}

.note-card .note-img{
    width: 45px;
    height: 45px;
    background-color: rgb(249, 85, 85);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}
.note-card .note-img img{
    width: 25px;
    height: 25px;
    object-fit: contain; 
}

.note-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}


#brain .brain-container{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-top: 120px;
    width: 91%;
    max-width: 1600px;
    margin: 120px auto;
}

#brain .brain-container .brain-img{
    width: 650px;
    height: 650px;
    flex-shrink: 0; 
    /* background-color: blue; */
}
#brain .brain-container .brain-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 

}

#brain .brain-container .brain-content{
    max-width: 600px;
    /* border: 1px solid black; */
    margin: 102px auto 102px 60px;
}

#brain .brain-container .brain-content span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
}

.brain-content .section-heading{
    text-align: left;
    padding-top: 16px;
}
.brain-content .section-heading p{
    margin-bottom: 40px;
}


.brain-content .section-list ul{
    list-style: none;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
}

.section-list ul li{
    display: flex;          
    align-items: center;    
    gap: 12px;
    padding-bottom: 16px;              
}

.section-list ul li img{
    width: 20px;
    height: 20px;
}


#ready .ready-container{
    max-width: 1600px;
    width: 91%;
    margin: 0 auto;
    background-color: #F7F6F2;
    border-radius: 12px;
}

#ready .ready-container .ready-content{
    max-width: 600px;
    /* border: 1px solid black; */
    padding: 80px 0px 80px 0px;
    margin: 0 auto;
    text-align: center;
}

.ready-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
    text-transform: capitalize;
}

.ready-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.ready-content .btn .margin-left{
    margin-left: 8px;
}
.ready-content .btn{
    margin-bottom: 16px;
}

footer{
    width: 100%;
    margin-top: 120px;
    background-color: #001931;
    padding: 120px 0px 30px 0px;
    
}
 footer .footer-container{
    width: 91%;
    max-width: 1600px;
    margin: 0 auto 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
 }
 .footer-container .flogo img{
    width: 140px;
 }
 .footer-container .social p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
    text-transform: capitalize;
 }

 .social-icon{
    display: flex;
    gap: 16px;
 }


.social-icon .icon-img{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}

footer .copyright{
    width: 91%;
    max-width: 1600px;
    margin: 0 auto;
    /* background-color: #30B868; */
}
footer .copyright hr.custom{
    border: 1px solid #e5e7eb35;
}
footer .copyright p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
    padding-top: 30px;
}